{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between">
                <h6>Absences</h6>

            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">

                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Reason</th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for abs in absences %}
                            <tr>
                                <td>
                                    <p class="text-xs text-center font-weight-bold mb-0">{{ abs.reason }}</p>

                                </td>
                                <td>
                                    <p class="text-xs text-center font-weight-bold mb-0">{{ abs.date|date:"c" }}</p>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}